@import "tailwindcss";
@config "../../../tailwind.config.js";

:root {
  --color-base: #090b12;
  --color-body: #10121a;
  --color-surface: #1e212b;
  --color-input: #10121a;
  --color-input-hover: #10121a80;

  --color-text-primary: #edf1ff;
  --color-text-secondary: #e9eeff;
  --color-text-muted: #aeb4d4;
  --color-text-disabled: #edf1ff21;
  --color-icon: #7e828c;

  --color-accent: #82a5ff;
  --color-accent-hover: #82a5ff4d;
  --color-accent-border: #82a5ff;

  --color-border: #2c2f3a;
  --color-border-dark: #14151b;
  --color-border-subtle: #202532;
  --color-border-hover: #3a4766;

  --color-surface-hover: #121723;
  --color-separator: #1a1f2b;
  --color-selected-bg: #313b5c;
  --color-skeleton: #1b2130;

  --color-accent-muted: #9cb3ff;
  --color-accent-selected-border: #7ea1ff;

  --color-danger: #ff2b6e;
  --color-warning: #ffb13d;

  --shadow-panel: 0 18px 60px rgba(0, 0, 0, 0.45);
  --shadow-tooltip: 0 10px 30px rgba(0, 0, 0, 0.55);

  --color-tooltip-bg: #1e212b;
  --color-tooltip-border: #10121a;
  --color-tooltip-text: rgba(241, 245, 249, 0.9);
}

* {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: #3f465b #14151b;
  user-select: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: #14151b;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb {
  background: #2e3447;
  border: 2px solid #14151b;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #3a4157;
}
*::-webkit-scrollbar-corner {
  background: #14151b;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-body);
  font-family: "Fira Code", "Fira Mono", monospace, sans-serif;
  overflow: hidden;
  color: var(--color-text-primary);
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 16px;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}
